body {
  margin: 0px;
  padding: 0px;
  color: white;
  background: #373E47;
}

#toggle-slider {
  height: 16px;
  width: 48px;
  background-color: #bbbbbb;
  border: 2px solid #8d8d8d;
  border-radius: 24px;
  padding: 2px;
  margin-top: 10px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  gap: 15px;
  position: relative;
  cursor: pointer;
}

#toggle-slider::before {
  content: "";
  width: 18px;
  height: 18px;
  background-color: #373E47;
  border-radius: 10px;
  position: absolute;
  right: 0;
  transform: translateX(-1px);
  z-index: 0;
}

#toggle-slider svg {
  z-index: 1;
}

#sun-icon {
  fill: #bbbbbbff;
}

#moon-icon {
  fill: #E8E8E8;
}

.popup {
  width: 250px;
  height: 250px;
  overflow: hidden;
}

.image-wrapper {
  position: relative;
  display: inline-block;
  text-align: center;
  margin-top: 10px;
}

.image-wrapper.selected {
  border-color: red;
}
